# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dep old vendors backup
.idea/
.vscode/
_vendor-*
bin/

# Python
__pycache__/
*.py[cod]
venv
.venv
.tox

# Local overrides
docker-compose.override.yml
scripts/ssl/local
